#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card{
  @apply h-44 flex items-center justify-center flex-col;

  ion-thumbnail{
    @apply rounded-md w-12 h-12 mb-5 flex justify-center items-center;

    ion-icon{
      @apply text-4xl
    }
  }

  ion-label{
    @apply md:text-xl text-sm font-semibold
  }
}